{% extends 'base.html' %}

{% block head_addition %}

{% endblock %}


{% block navbar_addition %}
<li class="nav-item">         {% comment %}  {% endcomment %}
    <a type="button" class="btn btn-outline-danger" href="{% url 'SL_Class:create_post' %}">Create</a>
</li>    
{% endblock %}


{% block content %}
  {% if messages %}
          <div class="alert alert-info" role="alert">
              {% for message in messages %}
                  {{ message }}
              {% endfor %}
          </div>
  {% endif %}

<div class="container text-center">
    <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3 ">
        {% for i in page_obj %}     {% comment %} {% url 'SL:about' i.id %} {% endcomment %}
        <a class="text-decoration-none" href="#">
        <div class="card ms-1 ">
            <iframe src="{{ i.url_video }}" class="card-img-top ratio ratio-21x9"></iframe>
            <div class="card-body">
              <h5 class="card-title">{{ i.name }}</h5>
              {% comment %}<p class="card-text overflow-hidden" maxlength="10">{{ i.comment_video }}</p>{% endcomment %}
            </div>
          </div>
        </a>
        {% endfor %}
    </div>

    <div class="d-flex justify-content-center mt-5">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                
              {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="{% url 'SL_Class:common' page_obj.previous_page_number %}">Previous</a></li>
                {% if page_negative_two %}
                    <li class="page-item"><a class="page-link" href="{% url 'SL_Class:common' page_negative_two %}">{{ page_negative_two }}</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="{% url 'SL_Class:common' page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a></li>
              {% endif %}
              
              <li class="page-item active"><a class="page-link" href="#">{{ page_number }}</a></li>

              {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="{% url 'SL_Class:common' page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a></li>
                {% if page_addition_two %}
                    <li class="page-item"><a class="page-link" href="{% url 'SL_Class:common' page_addition_two %}">{{ page_addition_two }}</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="{% url 'SL_Class:common' page_obj.next_page_number %}">Next</a></li>
              {% endif %}

            </ul>
          </nav>
    </div>
    <h1>{{ page_obj.paginator.num_pages }}</h1>
        
</div>
{% endblock %}