{% extends 'base.html' %}

{% block content %}

<form action="{% url 'SL:change' name_id %}" method="post">

    {% csrf_token %}
    
    {{ error_message }}
    {% if name %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Error:</strong> {{ name }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <div class="mb-3">
        <label for="name" class="form-label">Name of video</label>
        <input id="name" type="text" name="name" class="form-control" value="{{ video.name }}">
    </div>


    {% if comment_video %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Error:</strong> {{ comment_video }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <div class="mb-3">
        <label for="comment_video" class="form-label">Comment to video</label>
        <textarea id="comment_video" name="comment_video" class="form-control" rows="3">{{ video.comment_video }}</textarea>
    </div>


    {% if url_video %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Error:</strong> {{ url_video }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <div class="mb-3">
        <label for="url_video" class="form-label">URL to video</label>
        <input id="url_video" type="text" name="url_video" class="form-control" value="{{ video.url_video }}">
    </div>

    <input type="submit" class="btn btn-primary" value="Change">

</form>

{% endblock %}
