{% extends 'base.html' %}
{% block content %}
<div class="container text-center">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
{% for i in urls %}
            <div class="">
                <iframe class = "card-img-top" width="560" height="315" src="{{ i }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
{% endfor %}
        <a href="{% url 'SL:index' %}">index</a>
    </div>
</div>  
{% endblock %}